html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
    !! STYLING !!

    !! STYLING !!
*/
body{
    background-color: black;
}

.window{
    height: 100vh;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    padding: 0px 40px;
}

#game-window{
    display: flex;
    width: 100vw;
}

.map-info-container{
    width: 70%;
    overflow: auto;
}

#current-player{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
}

.current-phase{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
}

.current-phase > h2{
    opacity: .7;
    margin: auto;
}

.sidebar{
    border-right: 2px solid rgba(253, 235, 69, 0.698);
    border-left: 2px solid rgba(253, 235, 69, 0.698);
    /* border-radius: 10px; */
    max-height: 100%;
    width: 30%;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tile{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: radial-gradient(rgba(253, 235, 69, 0.698), black);
    border-radius: 40px;
    margin: 30px;
    opacity: .8;
}

.red{
    background: radial-gradient(red, black);
}

.green{
    background: radial-gradient(green, black);
}

.blue{
    background: radial-gradient(blue, black);
}

.gray{
    background: radial-gradient(gray, black);
}

.clickable{
    cursor: pointer;
}

.units{
    margin: auto;
    color: white;
}

.end-turn-btn-container{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    border-top: 3px solid rgba(253, 235, 69, 0.698);
}

.end-turn-btn{
    padding: 15px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    color: rgba(253, 235, 69, 0.698);
    border: none;
    cursor: pointer;
    width: 100%;
}   

.end-turn-btn:focus{
    outline: none;
}

.selected{
    border: 2px solid gold;
    opacity: 1;
}

#dead-space{
    background: black;
}

.player-img{
    width: 100%;
}

.player-img-container{
    width: 100%;
    border-bottom: 3px solid rgba(253, 235, 69, 0.698);
}

.current-turn{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 15px;  
    border-bottom: 1px solid rgba(253, 235, 69, 0.698);
}

.turn{
    width: 100%;
    color: white;
    padding: 10px;
    opacity: .7;
}

#rid-opacity{
    opacity: 1;
}

.divider{
    width: 2px;
    height: 50px;
    background-image: linear-gradient(black, rgba(253, 235, 69, 0.698), black);
    margin: auto;
}

.btn-help{
    margin: auto;
    text-decoration: underline;
    color: white;
    opacity: .7;
    cursor: pointer;
}

.info-container{
    /* border-top: 1px solid rgba(253, 235, 69, 0.698); */
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px;
    justify-content: space-evenly;
}

.line-strike{
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, black, rgba(253, 235, 69, 0.698), black);
    opacity: .8;
    margin: 10px;
}

.links-container{
    display: flex;
    justify-content: center;
}

.github{
    margin: auto;
    padding: 10px;
    opacity: .6;
}

.github-logo{
    width: 50px;
}

.linked-in{
    margin: auto;
    opacity: .6;
}

.linked-in-logo{
    width: 60px;
    background-color: white;
    padding: 5px;
}

.title-container{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.title-char0{
    font-size: 18px;
    margin: auto;
    padding: 0px 5px;
    color: white; 
    opacity: .6;
}

.title-char1{
    font-size: 20x;
    margin: auto;
    padding: 0px 5px;
    color: white;
    opacity: .7;
}

.title-char2{
    font-size: 24px;
    margin: auto;
    padding: 0px 7px;
    color: white;
    opacity: .8;
}

.title-char3{
    font-size: 27px;
    margin: auto;
    padding: 0px 9px;
    color: white;
    opacity: .9;
}

.title-char4{
    font-size: 27px;
    margin: auto;
    padding: 0px 11px;
    color: white;
}

.title-char5{
    font-size: 27px;
    margin: auto;
    padding: 0px 9px;
    color: white;
    opacity: .9;
}

.title-char6{
    font-size: 24px;
    margin: auto;
    padding: 0px 7px;
    color: white;
    opacity: .8;
}

.title-char7{
    font-size: 20px;
    margin: auto;
    padding: 0px 5px;
    color: white;
    opacity: .7;
}

.title-char8{
    font-size: 18px;
    margin: auto;
    padding: 0px 5px;
    color: white;
    opacity: .6;
}

.name-container{
    display: flex;
    justify-content: center;;
}

.name{
    margin: auto;
    opacity: .6;
}

#unit-bonuses{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    margin-bottom: 15px;
}

.battle-grounds-units{
    color: pink;
    margin-right: 20px;
}

.the-belt-units{
    color: white;
    margin-right: 20px;
}

.bridge-units{
    color: orange;
    margin-right: 20px;
}

.hide-away-units{
    color: yellow;
    margin-right: 20px;
}

.hidden{
    visibility: hidden;
}

.instructions-container{
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

/* .window{
    opacity: .5;
} */

.instructions-box{
    position: absolute;
    /* display: none; */
    z-index: 3;
    background-color: rgba(253, 235, 69, 0.698);
    width: 400px;
    margin-top: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
}

.instruction-el {
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

.instruction-para {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.game-part{
    padding-top: 25px;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

#close-instructions{
    width: 100%;
}

#close-x{
    cursor: pointer;
    font-weight: 700;
    font-size: 42px;
    width: 42px;
}

.phase-instructions{
    text-decoration: none;
}